/* ===== CSS RESET ===== */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* =====CSS RESET END ===== */

:root {
  --body-bg: linear-gradient(
    45deg,
    #0a142e,
    #16213e 33%,
    #0f3460 67%,
    #4a4e69 100%
  );

  --input-font-clr: #0f0326;
  --search-btn-clr: linear-gradient(45deg, #000000, #222222 50%, #333333 100%);
  --main-font-clr: #ffffff;
  --card-bg-clr: rgba(255, 255, 255, 0.2);
}

body {
  background: var(--body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: var(--main-font-clr);
}

.search-div {
  margin-top: 28px;
}

.search-div > input,
.search-div > button {
  padding: 8px 14px;
}
.search-div > input {
  color: var(--input-font-clr);
  border-radius: 4px;
  border: none;
}

.search-div > input:focus {
  outline: none;
}
.search-div > button {
  background: var(--search-btn-clr);
  color: var(--main-font-clr);
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.card {
  width: 350px;
  height: 400px;
  background-color: var(--card-bg-clr);
  display: flex;
  flex-direction: column;
}

.location-div {
  border: 2px solid red;
  display: flex;
  align-items: center;
}

.weather-div {
  border: 2px solid yellow;
  display: flex;
}

.convert-btns {
  display: flex;
  align-items: center;
}

.convert-btns button {
  background: transparent;
  border: none;
  color: var(--main-font-clr);
}

.temp {
  font-size: 1.6rem;
}

.feels-like {
  font-size: 0.7rem;
}
